@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700:#504e70;
  --maroon-color: #E76161;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--maroon-color);

}

.temperature__converter {
  background: var(--bg-black-100);
  width: 100%;
  min-width: 320px;
  padding: 20px 30px 45px;
  border-radius: 6px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.mobile__section {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  margin-bottom: 40px;
 color: var(--text-black-900);
}

.mobile__icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--text-black-900);
}

.degree-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

}

.degree-field {
  display: flex;
  flex-direction: column;
  width: 46%;
}

label {
  font-size: .9rem;
  margin-bottom: 5px;

}

.temp-field {
  display: flex;
  flex-direction: column;

}

#result {
  margin-left: 12px;
}

input, select{
  background: transparent;

   outline: none;
   border: 2px solid var(--bg-black-50);
   border-radius: 4px;
   padding: 8px;
   margin-bottom: 15px;
}

input:focus {
  border: 1px solid var(--bg-black-50);
}

option {
  background: var(--maroon-color);
  color: white;
}

#convert-btn {
  border:none;
  outline: none;
  border-radius: 5px;
  background-color: var(--maroon-color);
  color: var(--bg-black-100);
  padding: 12px 80px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
  transition: all .3s ease-in;
  text-transform: uppercase;
  cursor:pointer;
}

#convert-btn:hover {
  background-color: var(--bg-black-50);
  color: var(--maroon-color);
}

.temp-field label {
  margin-left: 4px;
}

.degree-field label {
  margin-left: 4px;
}

.result label {
  margin-left: 4px;
}

.result {
  text-align: center;
  margin: 20px 0;
}

.result h2 {
  color: var(--text-black-900);


}

.celsius-value {
  border-bottom: 2px solid #ccc;
padding: 10px;
transition: all .45s ease;
}


/*media querires */

@media (max-width:768px) {
  .temperature__converter {
    min-width: 520px;
   height: auto;

  }
  .mobile__section {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }

  .degree-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px;

  }

  .degree-field {
    display: flex;
    flex-direction: column;
    width: 40%;

  }

  label {
    font-size: 1.4rem;
    margin-bottom: 8px;

  }

  input,select {
    font-size: 1.2rem;
  }

  .result h2 {
    font-size: 1.5rem;
  }
 #convert-btn{
   padding: 16px 80px;
   font-size: 22px;
 }

}

@media (max-width: 552px) {
  .temperature__converter {
    min-width: 250px;
  }
}



@media (max-width: 376px) {
  .mobile__section {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 700;
    align-items: center;
    margin-bottom: 40px;
   color: var(--text-black-900);
  }


  .title {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .degree-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

  }

  input,select {
    font-size: 1rem;
  }

  label {
    font-size: 1.1rem;
    margin-bottom: 8px;

  }

  .result h2 {
    font-size: 1.2rem;
  }

  #convert-btn{
    padding: 8px 30px;
    font-size: 16px;
  }

  .temperature__converter {
    max-width: 340px;
  }
}
